.middleButton {
    text-align: center;
    margin-top: 50px;
    position: relative;
}
.middleButton button{
    background: linear-gradient( 0deg, rgba(255, 118, 25, 0.7) 25%, rgba(255, 127, 73, 0.7) 67%, rgba(255, 137, 98, 0.7) 100% );
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    width: 220px;
    margin: 0% auto 0;
}