.clear{
    clear: both;
}
.subscriptionUi{
    float: left;
    width: 75%;
    padding-left: 20px;
    box-sizing: border-box;
}
.headingSubscrpt{
    font-size: 24px;
    margin: 30px 1% 10px;
    width: 100%;
    display: inline-block;
    font-weight: 600;
    text-transform: capitalize;

}
.packagesList .packages{
    float: left;
    width: 31%;
    margin: 20px 1%;
    padding: 30px 20px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 1px 1px 5px #d6d6d6;
    cursor: pointer;
}
.packagesList .packages:hover{
    background: rgb(88,28,135);
    background: linear-gradient(313deg, rgba(88,28,135,1) 0%, rgba(79,69,184,1) 100%);
    cursor: pointer;
}
.packagesList .packages:hover h2, .packagesList .packages:hover h3, .packagesList .packages:hover p{
    color: #fff;
}
.packagesList .packages:hover a{
    color: #000;
    background-color: #fff;
}
.packagesList .packages:hover .packageTitle h2:before{
    background-color: #fff;
}

.packagesList .packages .packageTitle h2{
    float: left;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.packagesList .packages .packageTitle h2:before{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 25px;
    height: 3px;
    background-color: #000;
}
.packagesList .packages .packageTitle p{
    float: right;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: -5px;
}
.packagesList .packages .packageTitle p span{
    vertical-align: top;
    vertical-align: top;
    font-size: 14px;
}
.packagesList .packages h3{
    margin-top: 60px;
    clear: both;
    font-size: 20px;
    font-weight: 600;
}
.packagesList .packages a{
    background-color: #000000;
    color: #fff;
    width: 100%;
    display: block;
    margin-top: 70px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 16px;
}

