.containerBodyLeft,
.containerBodyCenter,
.containerBodyright {
  box-sizing: border-box;
}
.containerBodyLeft {
  float: left;
  width: 25%;
}
.containerBodyCenter {
  float: left;
  width: 48%;
  padding: 0px 0px;
  margin: 0px 1%;
}
.containerBodyright {
  float: left;
  width: 25%;
}
.clear {
  clear: both;
}
