.userHeaderSec {
  display: flex;
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto 20px;
  position: relative;
  z-index: 2;
}
.UserLeftNavigation {
  max-width: 1220px;
  margin: auto;
  position: relative;
  z-index: 2;
}

.rightFQA {
  width: 100%;
  float: left;
}

@media (max-width: 786px) {
  .rightFQA {
    width: 100%;
    float: left;
    padding: 0px 20px;
  }
}
